body{
	font-family:arial;
}
img.tiny{
    width: 20px;
    border: solid thin grey;	
}
img.big {
    width: 200px;
    border: solid thin grey;
    position: absolute;
    right: 1ex;
    top: 1ex;
}

.properties div div{
	display:inline-block;
}
.properties div div:first-child{
	width:20ex;
}
.properties div div:last-child{
	font-weight: bold;
}
a{
	text-decoration: none;
}

.nav_button{
    border:solid gray thin;
    bottom: auto;
    }
