<!doctype html>
<html>
<head>
	<link rel='stylesheet' href='/static/style.css'>
<style>
   #h1 {width: 300px;
    height: 100px;
    padding: 15px;
    background-color: white;
    box-shadow: 10px 10px grey;
    text-align:center;
   }
   #line{
    text-align: justify;
    text-justify: inter-word;
}

</style>
</head>
	<body >
		<div align="center">
		<h1 id="h1">World Factbook</h1>
		</div>
		<div align="center">
			{%for s in lota %}
			<a href="/describewithAlphabetics/{{s}}">{{s}}</a>
			{% endfor %}
		</div>
		<div>
			{% block content %}
			{% endblock %}
		</div>
	</body>
</html>