<!doctype html>
<html>
<head>
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link rel='stylesheet' href='/static/style.css'>
</head>
	<body>
	   <form action='/addcountrybyname'>
		<div class='properties'>
			<div class="gg">
				<div>	
				<div>
					<div>Name</div>
					<div><input name='country'></div>
				</div>
				
				<div>
					<div>Capital</div>
					<div><input name='capital'></div>
				</div>

				<div>
					<div>Continent</div>
					<div><input name='continent'></div>
				</div>

				<div>
					<div>Area</div>
					<div><input name="area"></div> 
				</div>

				<div>
					<div>Population</div>
					<div><input name="population"></div> 
				</div>

				<div>
					<div>GDP (million $)</div>
					<div><input name="gdp"></div>
				</div>

				<div>
					<div>Tld</div>
					<div><input name='tld'></div>
				</div>
				<div>
					<div>Flag</div>
					<div><input type="file" name="flag"></div>
				</div>
				<input type='submit' class="nav_button">
				</div>
			</div>
		</div>
		</form>
		</body>
</html>