{% extends "base.html" %}
{% block content %}
		<div  align="center" class="gg" >
		<ul>
			{% for c in w %}
			<li><a href='/countryByName/{{c.name}}'>
				<img src='/static/flags/{{c["tld"]}}.gif' class='tiny'>
			 {{c.name}}</a></li>
			{% endfor %}
		</ul>
		<div class='nav_button'>
			{% if page_number-page_size == -20 %}
			<a href="#">Previous Page</a>
			{% else %}
			<a href='/begin/{{page_number-page_size}}'>Previous Page</a>
			{% endif %}
		</div>
		<div class='nav_button'>
			{% if page_number-page_size == 200 %}
			<a href="#">Next Page</a>
			{% else %}
			<a href='/begin/{{page_number+page_size}}'>Next Page</a>
			{% endif %}
		</div>
		</div>

{% endblock %}
	</body>
</html>